/************** SEARCH BAR **************/
.SearchContentOuter {
  /* RGB(64,75,105) converts to #404B69*/
  background-color: rgba(64,75,105,0.8);
  margin: auto;
  min-width: 500px;
  max-width: 1000px;
  height: 200px;
}

.SearchContentInner {
  padding: 23.25px 20px;
}

.SearchContentFont {
  color: #DBEDF3;
  float: left;
  padding: 5px 0;
  font-size: 16px;
}

  /********************* DESTINATION LINE *******************/
  .SearchButton {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(40,49,73,0.8);
    color: #DBEDF3;
    border: none;
    padding: 5px 32px;
    float: left;
  }

  .icon {
    float: left;
    font-size: 22.85px;
    position: relative;
    left: 25px;
    top: 5px;
    background-color: #DBEDF3;
    color: rgba(64,75,105,0.5);;
  }

  /* DOUBLE BLOCK FOR THE ICON */
  .DestinationBlock {
    display: inline-block;
    width: 350px;
    border: 0px;
    font-size: 16px;
    background-color: #DBEDF3;
    height: 32.85px;
    float: left;
  }

  .DestinationInputBlock {
    display: inline-block;
    width: 320px;
    padding: 0 50px 0 0;
    height: 32.85px;
    margin: 0 0 0 30px;
    border: 0px;
    font-size: 16px;
    background-color: #DBEDF3;
    float: left;
  }

  /********************* CHECKINOUT LINE *******************/
  .CheckinOutBlock {
    font-size: 16px;
    color: rgba(64,75,105,0.8);
    background-color: #DBEDF3;
    float: left;
    display: inline-block;
    height: 32.85px;
    width: 185px;
    border: 0px;
    border-radius: 0px;
  }

  .CheckInOutInputBlock {
    padding: 0 0 0 27px;
    color: rgba(64,75,105,0.8);
  }

  #CheckOut {
    margin: 0 0 0 15px;
  }

  /********************* ROOMS LINE ***********************/
  .Rooms {
    font-size: 16px;
    text-align: center;
    color: rgba(64,75,105,0.8);
    background-color: #DBEDF3;
    float: left;
    display: inline-block;
    height: 32.85px;
    width: 50px;
    border: 0px;
    border-radius: 0px;
    margin: 0 60.5px 0 15px;
  }

  /********** MISC ***********/
  .NoMargin {
    margin: 0;
  }

  .darktext {
    color: #283149;
  }