/* background set */
body {
  background-color:#283149;
}

/****************** START CENTER COLUMN ******************/
div.centercolumn {
  max-width: 1000px;
  min-width: 500px;
  margin: auto;
}
/****************** END CENTER COLUMN ******************/





/****************** START NAVBAR ******************/

  /****************** START HORIZONTAL MENU ******************/
  ul {
      list-style-type: none;
      margin: 0;
      padding: 5px;
      height: 50px;
      background-color:#404B69;
  }

  li {
      float: left;
  }

  li.navbar {
      padding: 15px 15px 15px 15px;
      text-decoration: none;
      list-style: none;
      font-size: 16px;
      min-width: 100px;
  }
  
  li a {
    display: block;
    color: #DBEDF3;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    height: 20px;
  }
  
  /****************** START HOME BUTTON ******************/
  i.home {
    color: #BFCFD4;
    font-size: 40px;
    padding: 5px;
    vertical-align: center;
    display: block;
  }
  /****************** END HOME BUTTON ******************/
  
  li.search {
    display: block;
    color: #DBEDF3;
    text-align: center;
    text-decoration: none;
  }
  li.search:hover {
    background-color: #DA0463;
  }

  /****************** END HORIZONTAL MENU ******************/

  /****************** START MY ACCOUNT DROPDOWN ******************/
  li.myaccount {
    float:right;
    list-style-type:none;
  }

  .dropbtn {
    background-color: #404B69;
    color: #DBEDF3;
    font-size: 16px;
    border: none;
    min-width: 100px;
  }

  .dropdown {
    position: relative;
    float: right;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
  }

  .dropdown-content a {
    color: #DBEDF3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color:#DA0463;
  }
  
  a.myaccount {
    color: #DBEDF3;
    font-size: 12px;
  }
  
  a.myaccount:hover {
    background-color: #283149;
  }
  /****************** END MY ACCOUNT DROPDOWN ******************/

/****************** END NAVBAR ******************/

